    <!-- Buy Ticket Start -->
<section class="buy-ticket">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="buy-ticket__left wow fadeInLeft" data-wow-delay="100ms">
                    <ul class="buy-ticket__address list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="icon-clock"></span>
                            </div>
                            <div class="text">
                                <p>Mirpur 01 Road N 12 Dhaka Bangladesh</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-pin"></span>
                            </div>
                            <div class="text">
                                <p>10 Am To 10 Pm 20 April 2024</p>
                            </div>
                        </li>
                    </ul>
                    <h3 class="buy-ticket__title">Grab Your Seat Wow Or You May Regret it Once</h3>
                    <p class="buy-ticket__text">
                        Events bring people together for a shared experien celebration a
                        From weddings and <br> birthdays to conferences Events bring people together for a
                        shared
                    </p>
                    <div class="buy-ticket__btn-box">
                        <a href="contact.html" class="buy-ticket__btn-1 thm-btn">
                            Buy Your Ticket<span class="icon-arrow-right"></span>
                        </a>
                        <a href="contact.html" class="buy-ticket__btn-2 thm-btn">
                            Contact Us<span class="icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="buy-ticket__right wow fadeInRight" data-wow-delay="300ms">
                    <div class="buy-ticket__img">
                        <img src="assets/images/resources/buy-ticket-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Buy Ticket End -->