    <!--CTA One Start-->
<section class="cta-one">
    <div class="container">
        <div class="cta-one__inner">
            <h3 class="cta-one__title">Get Latest Updateds Subscribe <br> to Our Newsletter</h3>
            <form class="cta-one__form mc-form" data-url="MC_FORM_URL" novalidate="novalidate">
                <div class="cta-one__form-input-box">
                    <input type="email" placeholder="Enter your email" name="EMAIL">
                    <button type="submit" class="cta-one__btn"><span class="icon-paper-plan"></span></button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--CTA One End-->