        <!-- Event One Start -->
<section class="event-one">
    <div class="container">
        <div class="event-one__inner wow fadeInUp" data-wow-delay="300ms">
            <div class="event-one__top">
                <div class="section-title text-left">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">About Our Event</span>
                    </div>
                    <h2 class="section-title__title">Uniting Creating of <br> the Memories</h2>
                </div>
                <div class="event-one__btn-box">
                    <a href="event-details.html" class="event-one__btn thm-btn">
                        Join The Event <span class="icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <ul class="list-unstyled event-one__points">
                <li>
                    <div class="icon">
                        <span class="icon-air-horn"></span>
                    </div>
                    <div class="content">
                        <h4><a href="event.html">Artists & bands</a></h4>
                        <p>
                            Events bring people together for a shared experien celebration a <br> From weddings
                            and birthdays to conferences
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <span class="icon-party-blower"></span>
                    </div>
                    <div class="content">
                        <h4><a href="event.html">Audience Event Planner</a></h4>
                        <p>
                            Events bring people together for a shared experien celebration a <br> From weddings
                            and birthdays to conferences
                        </p>
                    </div>
                </li>
            </ul>
            <div class="event-one__img-box">
                <img src="assets/images/resources/event-one-img-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Event One End -->