        <!-- Event Direction Start -->
<section class="event-direction">
    <div class="container">
        <div class="event-direction__inner">
            <div class="row">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="100ms">
                    <div class="event-direction__left">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">Our Event Direction</span>
                            </div>
                            <h2 class="section-title__title">Creating Memories <br> One Event Time</h2>
                        </div>
                        <p class="event-direction__text">
                            Events bring people together for a shared experien
                            celebration a <br> From weddings and birthdays to conferences
                        </p>
                        <div class="event-direction__call">
                            <div class="event-direction__call-icon">
                                <img src="/assets/images/icon/event-direction-chat-icon.png" alt="">
                            </div>
                            <div class="event-direction__call-content">
                                <p>Call Us</p>
                                <h4><a href="tel:3075550133">(307) 555-0133</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 wow fadeInRight" data-wow-delay="300ms">
                    <div class="event-direction__right">
                        <ul class="event-direction__counter list-unstyled">
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="100">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Our Event Artists</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="101">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Hours Of Music</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="10">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Event Stages</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="20">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Music Brands</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Direction End -->