<div id="loadingComponent" class="loading-component">
    <div class="loading-content">
        <img src="/assets/images/loading.gif" alt="Loading..." class="loading-image" />
        <p class="loading-text">Зарежда се...</p>
    </div>
</div>
