    <!--Services One Start-->
<section class="services-one">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">event benefits</span>
            </div>
            <h2 class="section-title__title">Why should you joint <br> our event</h2>
        </div>
        <div class="row">
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms">
                <div class="services-one__single">
                    <div class="services-one__icon">
                        <span class="icon-camera"></span>
                    </div>
                    <h3 class="services-one__title"><a href="event-prodigy.html">Eventful Ventures</a></h3>
                    <p class="services-one__text">
                        Events bring people together for a shared experience and From
                        weddings
                    </p>
                    <a href="event-prodigy.html" class="services-one__read-more">
                        Read More <span class="icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-one__single">
                    <div class="services-one__icon">
                        <span class="icon-skewer"></span>
                    </div>
                    <h3 class="services-one__title"><a href="stellar-events-co.html">Stellar Events Co</a></h3>
                    <p class="services-one__text">
                        Events bring people together for a shared experience and From
                        weddings
                    </p>
                    <a href="stellar-events-co.html" class="services-one__read-more">
                        Read More <span class="icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <!--Services One Single End-->
            <!--Services One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="services-one__single">
                    <div class="services-one__icon">
                        <span class="icon-dinner-table"></span>
                    </div>
                    <h3 class="services-one__title">
                        <a href="elite-event-management.html">
                            Elite Event
                            Management
                        </a>
                    </h3>
                    <p class="services-one__text">
                        Events bring people together for a shared experience and From
                        weddings
                    </p>
                    <a href="elite-event-management.html" class="services-one__read-more">
                        Read More <span class="icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <!--Services One Single End-->
        </div>
    </div>
</section>
<!--Services One End-->