<!-- Sliding Text One Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            <li>
                <h2 data-hover="Magic of Events" class="sliding-text__title">
                    Magic of Events
                    <img src="/assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
            <li>
                <h2 data-hover=" Celebrate Life" class="sliding-text__title">
                    Celebrate Life
                    <img src="/assets/images/icon/star-icon.png" alt="">
                </h2>
            </li>
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->