@{
    ViewData["Title"] = "Стани Спонсор";
}

<section class="sponsor-invitation-section">
    <div class="container">
        <h1 class="text-center mb-4">Покана за Спонсорство</h1>

        <p>
            С голямо удоволствие и ентусиазъм бихме искали да Ви поканим да се присъедините към нас като спонсори на първия премиум младежки лагер в България, организиран от нашето сдружение.
            Събитието ще предостави уникална възможност за младите хора да се потопят в разнообразни сфери като спорт, изкуства и образование.
        </p>

        <p>
            Лагерът ще се проведе за седем нощувки – от <strong>01.10.2025 г. до 08.10.2025 г.</strong> в <strong>хотел Utopia Forest</strong> и ще събере студенти и ученици от цялата страна.
            Те ще имат възможност да развиват своите умения, да създават нови приятелства и да участват в различни активности.
            Основната ни цел е да подкрепим личностното и професионалното развитие на младите чрез платформа за изява и вдъхновение.
        </p>

        <p>
            Вярваме, че Вашата организация споделя нашите ценности и стремежи за подпомагане на младите хора.
            Партньорството с Вас ще ни помогне да реализираме това значимо събитие и да предоставим на участниците незабравими преживявания.
        </p>

        <h3>Вашата подкрепа ще бъде призната чрез:</h3>
        <ul>
            <li>✅ Логото на Вашата организация върху рекламни материали (банери, постери, брошури).</li>
            <li>✅ Позициониране на рекламни елементи на ключови места по време на лагера.</li>
            <li>✅ Благодарствено писмо и официално признание по време на откриващата и закриващата церемония.</li>
        </ul>

        <p>
            Убедени сме, че с Вашата помощ можем да превърнем този лагер в истински успех и да допринесем за развитието на бъдещите лидери на България.
        </p>

        <p>
            Моля, не се колебайте да се свържете с нас за повече информация или за да обсъдим възможностите за партньорство.
            Благодарим Ви за отделеното време и внимание. Очакваме с нетърпение възможността да работим заедно за успешното провеждане на нашето събитие.
        </p>

        <p class="mt-5">
            С уважение,<br />
            <strong>Тони Огнянов</strong><br />
            Председател на Управителния съвет<br />
            Сдружение: „T-CAMPS“<br />
            Телефон за контакт: <a href="tel:0895312434">089 5312 434</a><br />
            Имейл: <a href="mailto:tonkisa1379@gmail.com">tonkisa1379@gmail.com</a> /
            <a href="mailto:tonito1379@abv.bg">tonito1379@abv.bg</a>
        </p>
    </div>
</section>
