@using T_Camps.Data
@model Company

@{
	ViewData["Title"] = "Информация за НПО";
}

<section class="sponsor-invitation-section join-event-section join-event-section-custom mainContent">
	<div class="container">
		<h2 class="text-center mb-4">Информация за НПО</h2>

		<p class="join-section-description">@Model.About</p>

		<div class="service-details__faq-box">
			<div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">

				<div class="accrodion active">
					<div class="accrodion-title">
						<h3>Нашите цели:</h3>
						<div class="faq-one-accrodion__count2"></div>
					</div>
					<div class="accrodion-content">
						<div class="inner">
							<ul>
								<li>✅ Предоставяне на качествени образователни програми.</li>
								<li>✅ Организиране на събития и семинари.</li>
								<li>✅ Подкрепа на младежки инициативи и проекти.</li>
								<li>✅ Създаване на мрежа от ментори и професионалисти.</li>
							</ul>
						</div><!-- /.inner -->
					</div>
				</div>

				<p class="join-section-description">Има много начини, по които можете да подкрепите нашата организация</p>

				<div class="accrodion active">
					<div class="accrodion-title">
						<h3>Как можете да помогнете:</h3>
						<div class="faq-one-accrodion__count2"></div>
					</div>
					<div class="accrodion-content">
						<div class="inner">
							<ul>
								<li>✅ Станете доброволец и участвайте в нашите събития.</li>
								<li>✅ Направете дарение, за да подкрепите нашите програми.</li>
								<li>✅ Споделете информация за нашата организация с вашите приятели и семейство.</li>
								<li>✅ Присъединете се към нашата мрежа от ментори.</li>
							</ul>
						</div><!-- /.inner -->
					</div>
				</div>
			</div>
		</div>

		<p class="mt-5">
			С уважение,<br />
			<strong>Тони Огнянов</strong><br />
			Председател на Управителния съвет<br />
			Сдружение: „T-CAMPS“<br />
			Телефон за контакт: <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a><br />
			Имейл: <a href="mailto:@Model.Email">@Model.Email</a>
		</p>
	</div>
</section>