@model Company

@{
    ViewData["Title"] = "Terms";
}

<h1 class="termsH1">Условия за ползване</h1>

<p class="termsP">Добре дошли на нашия уебсайт. Ако продължите да разглеждате и използвате този уебсайт, вие се съгласявате да спазвате и да бъдете обвързани от следните условия за ползване, които заедно с нашата политика за поверителност управляват отношенията на T-Camps с вас във връзка с този уебсайт.</p>

<h2 class="termsH2">Използване на уебсайта</h2>
<p class="termsP">Съдържанието на страниците на този уебсайт е за ваша обща информация и употреба. То подлежи на промяна без предизвестие.</p>

<h2 class="termsH2">Поверителност</h2>
<p class="termsP">Вашата поверителност е важна за нас. Моля, прочетете нашата политика за поверителност за повече информация.</p>

<h2 class="termsH2">Ограничение на отговорността</h2>
<p class="termsP">Ние не носим отговорност за каквито и да било загуби или щети, произтичащи от използването на този уебсайт.</p>

<h2 class="termsH2">Контакт</h2>
<p class="termsP">Ако имате въпроси относно тези условия за ползване, моля, свържете се с нас на <a href="mailto:" class="termsA">@Model.Email</a>.</p>